{% include 'sitio/cabecera.html' %}

    <link rel="stylesheet" href="autoeva1\templates\Sitio\estilos.css">

<style>
    body {
      background-color: #000;
      color: #fff;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #8a2be2;
      font-size: 40px;
      margin-top: 150px;
    }

    p {
      font-size: 20px;
      margin-top: 20px;
    }
  </style>

<h1>Seccion Nosotres</h1>
<br><h3>Tomy Centurion</h3>
 <img src="https://i.postimg.cc/Bn5RbLYN/tomy.png" alt="" width="260px">
<br> <h3>Agustin Bustos</h3>
 <img src="https://i.postimg.cc/q7T0ZHYD/agus.png" alt="" width="260px"> 
<br> <h3>Tiago Gaitan</h3>
    <img src="https://i.postimg.cc/6pxDBL0y/piru.png" alt="" width="260px">


<div class="alert alert-danger" role="alert">
    <strong>Alerta</strong> fachero detectado
</div>



{% include 'sitio/pie.html' %}