{% include 'admin/cabecera.html' %}

seccion administration juegotes



<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Añadir Notas
                </div>
                <div class="card-body">
                    <form action="/admin/notas/guardar" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="txtNombre" class="form-label">TITULO</label>
                      <input type="text"
                        class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Ingrese el nombre:">
                    </div>
                    <div class="mb-3">
                            <label for="Subtitulo" class="form-label">SUBTITULO</label>
                            <input type="text"
                              class="form-control" name="Subtitulo" id="Subtitulo" aria-describedby="helpId" placeholder="Escoja un subtitulo:">
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="txtImagen" class="form-label">IMAGEN</label>
                        <input type="file"
                          class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione una imagen:">
                      </div>
                      

                      <button type="submit" class="btn btn-primary">Agregar</button>  
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Pro
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">IMAGEN </th>
                            <th scope="col">PRECIO</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notas in lista_notas %}
                        <tr class="">
                            <td scope="row">{{ notas[0] }}</td>
                            <td>{{ notas[1] }}</td>
                            <td>  <img witdh=60 src="/img/{{ notas[3] }}" ></td>                             
                            <td>{{ notas[3] }}</td>
                            <td>
                                <form action="/admin/notas/borrar" method="post">
                                <input type="hidden" value="{{ notas[0] }}" name="txtId" id="txtId">
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>

{% include 'admin/pie.html' %}